
# Godot-specific ignores
.import/

# Mono-specific ignores
.mono/
data_*/
/Textures/wads/START.WAD
/Textures/wads/START.WAD.import
/Models/Maps/autosave
/Textures/Menus/game_start.png
/Textures/Menus/game_start.png.import
models/maps/autosave/practice.9.map
models/maps/autosave/arena.1.map
models/maps/autosave/practice.1.map
models/maps/autosave/practice.10.map
models/maps/autosave/practice.11.map
models/maps/autosave/practice.12.map
models/maps/autosave/practice.13.map
models/maps/autosave/practice.14.map
models/maps/autosave/practice.15.map
models/maps/autosave/practice.16.map
models/maps/autosave/practice.17.map
models/maps/autosave/practice.18.map
models/maps/autosave/practice.19.map
models/maps/autosave/practice.2.map
models/maps/autosave/practice.20.map
models/maps/autosave/practice.21.map
models/maps/autosave/practice.22.map
models/maps/autosave/practice.23.map
models/maps/autosave/practice.24.map
models/maps/autosave/practice.25.map
models/maps/autosave/practice.26.map
models/maps/autosave/practice.27.map
models/maps/autosave/practice.28.map
models/maps/autosave/practice.29.map
models/maps/autosave/practice.3.map
models/maps/autosave/practice.30.map
models/maps/autosave/practice.31.map
models/maps/autosave/practice.32.map
models/maps/autosave/practice.33.map
models/maps/autosave/practice.34.map
models/maps/autosave/practice.35.map
models/maps/autosave/practice.36.map
models/maps/autosave/practice.37.map
models/maps/autosave/practice.38.map
models/maps/autosave/practice.39.map
models/maps/autosave/practice.4.map
models/maps/autosave/practice.40.map
models/maps/autosave/practice.41.map
models/maps/autosave/practice.42.map
models/maps/autosave/practice.43.map
models/maps/autosave/practice.44.map
models/maps/autosave/practice.45.map
models/maps/autosave/practice.46.map
models/maps/autosave/practice.47.map
models/maps/autosave/practice.48.map
models/maps/autosave/practice.49.map
models/maps/autosave/practice.5.map
models/maps/autosave/practice.6.map
models/maps/autosave/practice.7.map
models/maps/autosave/practice.8.map
textures/wads/
